@tailwind base;
@tailwind components;
@tailwind utilities;

.bullet-container {
    width: 15px;
    border-radius: 50%;
    height: 15px;
    background-color: black;
}

.bullet-container.active {
    background-color: red;
}

.slider-container {
    background-color: rgb(252, 228, 196);
    border:2px solid black;
    padding:30px;
    text-align: center;
  border-radius: 30px;
  opacity: 0.4;
  pointer-events: none;
  transition: all 0.4s ease;
}


.slick-center .slider-container {
      min-height: 250px;
      display: block;
      opacity: 1;
      pointer-events: all;
}
.slick-center .slider-container.active {
    min-height: 250px;
    display: block;
    opacity: 1;
    pointer-events: none;
}


.buttonRed {
    background-color: red;
    border-radius: 50%;
    width:60px;
}
.buttonBlue {
    background-color: blue;
    border-radius: 50%;
    width:60px;
}